.s-contact-us
  display: flex
  align-items: center
  flex: 1 0 auto

.feedback
  &-item
    &__label
      font-size: 13px
      color: #ffffff
      line-height: 17px
    &__input, &__area
      background-color: #100f0f
      border: none
      border-radius: 0
      height: auto
      padding: 15px
      line-height: 20px
      &::placeholder
        color: #fff
        opacity: .4
      &:-ms-input-placeholder
        color: #fff
        opacity: .4
      &::-ms-input-placeholder
        color: #fff
        opacity: .4
      &:focus
        background-color: #100f0f
    &__input
      margin-bottom: 20px
      width: 100%
    &__area
      min-height: 250px
  .css-1hwfws3
    padding: 8px 8px 9px
    color: #ffffff
  .css-1cvu1z8-control, .css-21bt51-control
    background-color: #100f0f
    color: #ffffff
    border: none
    border-radius: 0
    cursor: pointer
  .css-21bt51-control
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
  .css-19zip5s-singleValue
    color: #ffffff
    opacity: .4
    margin-left: 8px
  .css-azhrpj-menu
    background-color: #100f0f
  .css-11unzgr
    & > div
      cursor: pointer
  &-button
    margin: 30px auto
    border-radius: 0
    text-transform: uppercase
    padding: 10px 0

@media (max-width: 991px)
  .feedback
    &-item
      &__select
        margin-bottom: 20px

@media (min-width: 992px)
  .feedback
    &-item
      &_margin_top
        margin-top: 95px
  .s-contact-us
    margin-bottom: 110px

@media (min-width: 1201px)
  .feedback
    &-item
      &_margin_top
        margin-top: 106px


