

body
  margin: 0
  padding: 0
  #root
    min-width: 320px

*::placeholder
  color: #fff
  opacity: 1

*::-webkit-input-placeholder
  color: #fff
  opacity: 1

*:-moz-placeholder
  color: #fff
  opacity: 1

*::-moz-placeholder
  color: #fff
  opacity: 1

*:-ms-input-placeholder
  color: #fff
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #fff

body input:required:valid,
body textarea:required:valid
  color: #fff

html, body
  min-height: 100%
  background-color: #131313 !important

body
  overflow-x: hidden
  overflow-y: scroll
  font-size: 16px
  position: relative
  line-height: 1.6
  opacity: 1
  font-family: 'Montserrat', sans-serif !important



